.content{
	margin:10px auto;
	width:90%;
	text-align:left;
	min-height:400px;
}
.content h1{
	color:;
}
.content p{
	font-size:16px;
	margin-top:20px;
}
.content input{
	height:30px;
	width:150px;
	margin-top:10px;
	padding-left:2px;
}
.desc{
	height:200px;
	width:300px;
	border:1px solid #e2e2e2;
	resize:none;
	outline:none;
	margin-top:20px;
	text-indent: 2em;
	padding:3px;
} 
.apply{
	background:#00B2EE;
	border-radius:3px;
	outline:none;
	width:150px;
	height:30px;
	border:none;
	color:#fff;
	margin-top:50px;
	float:right;
}