body,div,ul,li,h1,h2,h3,form,input,textarea,p,table,td,img {margin:0;padding:0;}
input,select,textarea,label{vertical-align:middle;}
table { border-collapse:collapse; border-spacing:0;} 
img { border:0;} 
ul,ol {list-style:none;}
body{font-family:"微软雅黑";font-size:14px;background:#f0f2f1;}
em{font-style:normal}
resize:none
a{text-decoration:none;outline: none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:active {star:expression(this.onFocus=this.blur());}
input,button,select,textarea{outline:none}
textarea{resize:none}
.header{background:#f0f1f1;height:80px;border-bottom:12px solid #ce0c0c}
.sty_header{width:1000px;margin:0 auto;}
.header_left{float:left;padding-left:20px;height:80px;}
.header_left img{margin-top:25px}
.header_right{float:right;}
.header_right ul li{float:right;width:70px;border:1px solid #ce0c0c;color:#ce0c0c;margin:0 5px;text-align:center;padding:2px 0}
.header_right ul li:hover{background:#ce0c0c;color:#fff;cursor:pointer}
.header_right .off{overflow:hidden;}
.header_right .off li.sell{background:#ce0c0c;color:#fff}
.header_right .out{display:inline-block;margin: 15px 0px 10px 66px;}

.header_right .out a{color:#4f4f4f;margin:0 10px;font-size:12px}
.conter{width:1000px;margin:20px auto 0;}
.conter_left{float:left;background:#fafafa;width:163px;min-height: 600px;}
.conter_left .name{background:#ce0c0c;color:#fff;font-size:24px;width:164px;min-height:60px}
.conter_left .name .pad{padding: 7px 18px;line-height: 28px;font-family:"微软雅黑";text-align:center;word-break:break-all }
.conter_left .menu{padding:10px}
.conter_left .menu li{height:40px;line-height:40px;}
.conter_left .menu li a{color:#444444}
.conter_right{float:left;background:#fff;width:100%;color:#4f4f4f;border-right:1px solid #dadada;min-height:600px}
.conter_content{margin:0 15px}
.conter_content .nav{margin:19px 0 17px 0}
.conter_content .nav a{color:#266dbe}
.conter_content .nav .sty_nav{border-bottom:1px solid #cdcdcd;padding-bottom:5px;font-size:12px;width:804px}
.search{height:40px;margin-bottom:15px;position:relative}
.ser_logo{position: absolute;right: 10px;top: 10px;}
.search input{float:right;}
.search .input_key{background:#fff;border:1px solid #cdcdcd;width:192px;height:32px;line-height:32px;padding:0 10px;color:#ababab}
.search .input_sub{width:34px;height:34px;background:#d7d7d7;border-left:none;border-top:1px solid #cdcdcd;border-right:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd}
.warn .txt{float:left;overflow:hidden;height:160px;}
.warn .txt_right{position:absolute;right:0px;top:0px}
.warn .txt_right .right_top{height:89px;width:16px;background:#e2e2e2;margin-bottom:0px;text-align:center;line-height:66px;}
.warn .txt_ul{padding:0;width:460px;height:176px;position:relative}
.warn .txt_ul ul{padding:10px 0 0 10px;}
.warn .txt_ul li{width:434px;height:62px;background:#fff;border:1px solid #c8c8c8;margin-bottom:10px;margin-right:20px;padding:10px 0 0 10px;line-height:24px;position:relative;}
.warn  .txt_ul li span{background-color:#ce0c0c;width:77px;height:23px;line-height:22px;text-align:center;display:inline-block;float:right;top:15px;position:relative;right:7px;}
.attention_content{position:relative;float:left;padding:0px;*padding:2px 0 8px 0}
.warn .txt_ul li span .txt_bg{color:#266dbe;margin-top:5px}
.warn .txt_ul li a{color:#266dbe;display:inline-block}
.warn .txt_ul li span a{color:#fff}
.warn .txt_ul li em{color:#ff6000}

/*index*/
 
.infor_conter{margin:15px 0;overflow:hidden}
.information{float:left;background:#fafafa}
 .xg_del{width:742px;height:60px;border:1px solid #fba1a1;background:#fff1e3;margin-bottom:20px;line-height:60px;padding-left:25px}
.xg_del img{vertical-align:middle;margin-right:10px}
.information .info_header{width:218px;height:80px;background:#99b3e3;position:relative;}
.information .info_header .message{color:#fff;font-size:28px;font-family:"微软雅黑";padding:15px 0px 0 15px}
.information .info_header em{position:absolute;right:10px;bottom:0}
.information .mes_text{border-bottom:1px solid #ececec;}
.information .mes_text ul{width:180px}
.information ul{padding:10px 0px 0 15px;}
.information li{height:30px;}
.information a{color:#266dbe}
.develop ul{margin:25px 0}
.infor_right{float:left;margin:0 0  0 10px;border:1px solid #dadada}
.information .account{background:#a3c988;width:280px}
.infor_right .information .mes_text{border:none;padding-bottom:10px}
.infor_right .mes_text li{width:262px}
.warn{width:570px;height:176px;margin:10px 0 0 10px;border:1px solid #dadada;position:relative}
.warn_blue{float:left;width:80px;height:177px;background:#8cc1d9;text-align:center;color: #fff;}
.warn_blue .index_warn b{font-size:20px;color:#8cc1d9}
.warn_blue em{display:inline-block;margin-top:30px;font-size:28px;font-family:"微软雅黑"}

    .index_warn{width:30px;height:30px;border-radius:30px;background:#fff;margin-top:20px;margin-left:25px;line-height:30px}
.information .sale{background:#d9c28c;width:280px}
.clear{clear:both;overflow:hidden}
.footer{height:100px;width:1000px;margin:0 auto;text-align:center}
.footer .line{width:1000px;background:#ce0c0c;height:2px;margin-top:26px;margin-bottom:5px}
.footer p{font-size:12px;color:#828282}
 #re_bor:hover{border:1px solid #ce0c0c;background-color:#fff;}
 .infor_right .mes_text{border-bottom:none}
 .tree ol{display:none;}
.tree li.opened ol{display:block}
h2{font-weight:normal;font-size:14px}
.tree ol li{background:url(../images/l.jpg) 25% center no-repeat;height:32px;line-height:32px;margin-left:-40px;padding-left:50px;cursor:pointer}
.tree ol li.current{background:url(../images/l1.jpg) #cdcdcd 25% center no-repeat;color:#fff;margin-left:-40px;padding-left:50px}
.tree  h2{background:url(../images/c.png) no-repeat 95% center ;height:32px;line-height:32px;padding-left:15px;cursor:pointer;color:#4f4f4f;}
.tree li.opened  h2{background:url(../images/c1.png) no-repeat 95% center}
.tree h2.current{background-color:#cdcdcd;color:#fff;background-image:url()}
.tree a{color:#4f4f4f;display:block}

/*dh*/
.dh_header{font-weight:bold;font-family:"微软雅黑";font-size:16px}
.dh_header table tr td{font-size:14px}
.num{margin:20px 0;border-bottom:1px dashed #cdcdcd;padding-bottom:20px;}
.num input{width:120px;height:30px;border:0;border:1px solid #dadada;text-align:center;font-weight:bold}
.num em{color:#f00000}
.dh_header a{font-size:14px;font-weight:normal;color:#266dbe;font-family:"微软雅黑"}
.sum{text-align:right;margin-right:40px;margin-top:10px}
.sum button{min-width:100px;height:30px;cursor:pointer;background:#06438f;border:1px solid #06438f;margin-left:20px;color:#fffefe}
.sum button a{color:#fff;}
.sum button.but_submit{background-color:#ce0c0c;height:40px;font-size: 14px;font-weight: bold;}

/*dh_other*/
.dh_other{border:none;display:none}
.dh_other input{height:20px;width:10px;border:none;margin:0 15px;}
.dh_other p{margin:10px 0}
.dh_other form input{background:#fff;width:248px;height:30px;border:1px solid #dadada;margin-left:15px;padding:0 10px;text-align:left}
.dh_other p.phone input{width:186px}
.dh_other .but{text-align:left;margin:0 0 0 20px;}
.but .cancel{background-color:#d9d9d9;border:none;color:#4f4f4f;cursor:pointer}
.ul_nav{margin-left:30px}
.ul_nav li{height:32px;line-height:32px;margin:2px 0;}
.ul_nav li a{margin-left:30px;color:#266dbe}
.ul_nav li.current{background:#ffe8dd}
.showdiv{padding:0;margin:0;padding-left:80px;}

#dis a{display:none}
.dh_mar{margin-top:-10px}
.dh_mar .ul_nav li:hover,.ul_nav li.current{background:#ffe8dd}
.dh_mar .ul_nav li:hover a,.ul_nav li.current a{display:inline}

/*information*/
 .enter{line-height:30px}
.dh .pad{margin-left:-20px;padding-bottom:0}
table{width:769px;border:1px solid #dddddd}
table .hea{background:#efefef;height:30px;line-height:30px;text-align:center;border:1px solid #dddddd}
.table_height tr{height:42px}
table tr{height:54px;background:#fff;text-align:center}
table tr.gray{background:#f5f5f5}
table tr a{color:#266dbe}
table tr span{color:#266dbe}
.xg_infor{border:2px solid #ce0c0c;width:769px;margin:10px 0}
.xg_infor .xg_pad{padding:0 10px}
.xg_infor p{line-height:40px}
.xg_infor p input{border:1px solid #d1d1d1;width:248px;height:30px;padding-left:10px}
.xg_bor{border-bottom:1px dashed #cdcdcd;padding-bottom:10px;margin-bottom:15px}
.xg_infor p.xg_but1{height:32px;line-height:32px;text-align:left;margin-bottom:10px;margin-left:70px}

/*business*/
.dh_header em{font-weight:normal;font-size:14px;margin-left:30px}
.bus{border-bottom:1px dashed #cdcdcd;padding-bottom:20px;margin:20px 0 }
.business .rr{float: right;margin-right: 20px;margin-top: 5px;}
.business table{width:96%;margin:10px auto 0;font-weight:normal;font-family:"微软雅黑"}
.business table tr em{color:#f00000}
.bor{border:none}
.no_business{border:1px solid #dddddd;width:805px;height:50px;line-height:50px;text-align:center;margin:20px 0;color:rgb(186, 186, 186);font-size:18px}
.no_bb{border-left:none;border-right:none}
/*sb*/
.sb table tr em{color:#266dbe}
.over_red b{color:#f00000;font-weight:normal}

/*sales*/
.add{background:#7ab74d;width:127px;height:35px;text-align:center;line-height:30px}
.add a{color:#fff;}
.dhnav_xg{border:2px solid #ce0c0c;padding:10px}

/*add_sales*/
.add_name{text-align:center}
.add_name p{margin:10px 0}
.add_name input{width:238px;height:30px;border:1px solid #dadada;background:#fff;padding:0 0 0 10px;margin-left:15px}
.add_name p.add_btn{text-align:center;margin-top:30px}

/*sales_detail*/
.sales_detail p{font-weight:normal;margin-top:10px;font-size:14px}
.sales_detail table{font-size:14px}

/*account_detail*/
.menu .menu_nav{padding-left: 20px;}
 .account{font-weight:bold;font-family:"微软雅黑"}
 .account em{color:#ce0c0c}
  .account_details select {width:140px;height:30px;border:1px solid #dadada;padding-left:5px}
  .account_details  span{margin-left:15px}
  .account_details  span em{color:#ff7800}
  .account_details  span.pay em{color:#ce0c0c}
  .pay_detail{margin-top:10px;background:#efefef;width:803px;height:30px;color:#4f4f4f;border-top:1px solid #dddddd;border-left:1px solid #dddddd;border-right:1px solid #dddddd;line-height:26px;}
  .pay_detail a{color:#266dbe}
  .pay_detail span{margin:0 8px;color:#266dbe}
  .col{width:805px}
  .col tr b{color:#ff7800}
  .col tr em b{color:#4f4f4f}

  /*look_sales*/
 .monthstatistics .monthtoolbar{text-align: center;height:47px;line-height:47px;font-size:22px;font-weight:bold;color:#ce0c0c;margin-bottom:22px}
.monthstatistics .monthtoolbar a{display:inline-block;width:75px;height:32px;line-height: 32px;font-size:14px;font-weight: normal;}
.monthstatistics .monthtoolbar a.up{background:#f7e0e0;color:#a5a5a5;border:1px solid #ce0c0c;margin-right:0 50px}
.monthstatistics .monthtoolbar a.next{background:#f2f2f2;color:#a5a5a5;border:1px solid #e5e5e5;margin-left:0 50px}
.monthstatistics .content{padding:20px 0;background-color:#fff1e3;color:#4f4f4f;margin:10px 0;border:1px solid #fba1a1}
.monthstatistics p{margin-left:36px;height:30px;line-height:30px;}
.monthstatistics em{color:#ff9001;font-weight:bold;}

/*new*/
.equipmentsales h3{font-size:18px;color:#4f4f4f;height:45px;line-height:45px;}
.equipmentsales label{height:32px;color:#333;line-height:32px;}
.equipmentsales input[type=text]{height:22px;color:#333;line-height:22px;padding:5px 10px;margin:0 5px 0 10px;}
.equipmentsales p{margin:15px 0;}
.equipmentsales .button{display:block;margin:0 auto;width:146px;height:32px;text-align:center;background:#7ab74d;line-height:32px;color:white;margin-top:20px;}
.equipmentsales .tabs{height:32px;}
.equipmentsales .tabs a{display:block;float:left;height:30px;line-height:30px;color:white;background:#a5cf87;padding:0 20px;margin-right:5px;}
.equipmentsales .tabs .active{background:#7AB74D;}
.Merchant{margin-top:20px;}

/*service*/
.service{margin:60px 0 30px 120px}
.service input{width:400px;padding-left:20px;border:1px solid #cdcdcd;background:#fff;height:38px;line-height:38px;color:#ababab;margin-right:10px;margin-top:-2px}
.service .sear{display:inline-block;width:98px;height:40px;line-height:40px;text-align:center;background:#7ab74d;color:#fff;}
.service_detail{position:relative}
.service_detail em{border-width:10px;border-style: solid; border-color:transparent transparent  #79a9d6 transparent;position:absolute;top:-20px;left:65px}
.service_detail span{border-width:9px;border-style: solid;border-color:transparent transparent  #79a9d6 transparent;position:absolute;top:-19px;left:66px}
.service_detail table{margin:0;}
.service_detail table tr{background:#bdd8f2;}
.service_detail table .blue_ser{background:#79a9d6;height:30px;line-height:30px}
.li_wid{width:805px;border:1px solid #dddddd}
.li_wid ul{width:100%;overflow:hidden}
.li_wid li{float:left;height:54px;line-height:54px;text-align:center}
.li_wid ul.hed li{background:#efefef;;color:#4f4f4f;height:30px;line-height:30px;}
.li_wid ul.gray{background:#f5f5f5;color:#4f4f4f}
.li_wid ul.light_gray{background:#fff;}
.li_wid li.c1{width:25%;}
.li_wid li.c2{width:10%;}
.li_wid li.c3{width:10%;}
.li_wid li.c4{width:15%;}
.li_wid li.c5{width:35%;}
.li_wid li.c6{width:39px;}
.li_wid li.c10{width:62%;}
.li_wid li.c11{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:60%;text-align: left;padding-left:10px;}
.li_wid li.c12{width:18%;}
.li_wid li.c13{width:12%;}
.li_wid li.c14{width:8%;}
.li_wid a{color:#266dbe}
.hid tr{height:40px;line-height:40px;background-color:#bdd8f2;}
.hid .hei30{background-color:#79a9d6;height:30px;line-height:30px;}
.hid{clear:left;position:relative;}
.hid .ar{border-width:10px;border-color:transparent transparent #CCE1F4 transparent;border-style:solid;position:absolute;left:66px;top:-19px}
.hid table{width:100%}
.li_wid b{display:inline-block;width:16px;height:11px;background-image:url(../images/mm.png)}
.li_wid b.plus{background-position:0 12px}
.li_wid b.minus{background-position:0 0;margin-top:23px;}

.popup{width:525px;height:345px;border:1px solid #777777;background:#fff;margin:0 auto;color:#4f4f4f;position:absolute;top:50%;left:50%;z-index:51;margin-left:-264px;display:none}
.popup_header{height:52px;border-bottom:1px solid #d5d5d5;line-height:52px;padding-left:40px}
.popup_detail{padding:22px 40px 0 40px;border:1px solid #d5d5d5}
.popup_detail h3{margin-bottom:22px}
.popup_detail p{margin:10px 0}
.popup_detail .line{padding-bottom:20px;border-bottom:1px dashed #e3e3e3}
.popup_service{margin:25px 0}
.popup_service .inp1{width:85px;height:30px;border:1px solid #dadada;background:#fff;margin-left:10px;text-align:center}
.popup_service span{margin-left:50px}
.popup_service .inp2{width:104px;height:30px}
.popup_service .inp3{width:132px;height:30px}
#pop_login{height:345px;margin-top:-172px}
#pop_login_dd{height:345px;margin-top:-172px}
#pop_sales{height:245px;margin-top:-172px;margin-left: -390px;}
.ser_btn{float:left;margin-left:30px;margin-top:13px}
.ser_btn .sure{display:inline-block;background-color:#ce0c0c;;width:200px;height:30px;text-align:center;line-height:30px;border: 1px solid #ce0c0c;margin-left: 20px;color: #fffefe}
.ser_btn .qx{background-color:#d9d9d9;height:30px;width:200px;border:none!important;color:#4f4f4f;}

/*kc*/
.dh_header a.kc{display:inline-block;background:#7ab74d;width:114px;height:32px;line-height:32px;text-align:center;color:#fff;margin-left:20px}

/*message*/
.displaynone{display:none;}


.messagesales h3{font-size:18px;color:#4f4f4f;height:45px;line-height:45px;margin-bottom: 16px;font-family:"微软雅黑"}

.selectmessage{border-bottom:1px dashed #CDCDCD;}
.selectmessage ul{width:710px;margin:0 auto;margin-bottom:30px;}
.selectmessage p{float:left;height:40px;line-height:40px;color:#4f4f4f;}

.count{width:60px;}
.messagemoney{width:90px;margin:0 8px;}

.selectmessage input[type=radio]{float:left;margin-top: 12px;margin-right:8px;margin-left:8px;}
.selectmessage input[type=text]{line-height: 17px;padding: 5px;text-align: center;display: block;float: left;height: 17px;border:1px solid #DADADA;}
.ctrl{width:120px;}
.ctrl a{line-height: 14px;height: 14px;display: block;float: left;width: 30px;text-align: center;border: 1px solid #DADADA;cursor: pointer;background:#e8e8e8;}
.ctrl a.disable{cursor: default;background:#dadada;}
.messagetype{margin-right:30px;width:280px;}

.checkedtype{background:#fff1e3;}

.searchmarchant{display:block;float:left;height: 20px;line-height:20px;width: 273px;padding: 5px;font-size: 14px;color: #CDCDCD;border:1px solid #CDCDCD;}
.searchm{display:block;float:left;height:32px;width:120px;line-height:32px;color:white;background:#7AB74D;text-align:center;margin-right:5px;margin-left:20px;}

.tr_head{height:30px}
tr.sel_select{background:#fff}

#submitadd{display:block;width:225px;line-height:40px;color:white;text-align:center;margin:40px auto 40px auto;background-color:#ce0c0c;;height:40px;font-size: 14px;font-weight: bold;border:1px solid #ce0c0c}

/*order*/
.unfinish{margin:12px 0;border-bottom:1px dashed #cdcdcd;padding-bottom:24px}
.unfinish_header{background:#fff1e3;width:188px;height:32px;color:#4f4f4f;line-height:32px;text-align:center;border-top:1px solid #ffe1c0;border-left:1px solid #ffe1c0;border-right:1px solid #ffe1c0;font-weight:bold}
.order_detail{color:#4f4f4f;border-bottom:1px solid #ffe1c0;}
.order_header{height:30px;line-height:30px;background:#fff1e3;padding-left:15px;border:1px solid #ffe1c0;}
.order_info{background:#fff;width:802px;overflow:hidden;border-left:1px solid #ffe1c0;border-right:1px solid #ffe1c0;position:relative}
.order_info span.number{float:left;display:inline-block;background:#ffb15d;width:40px;height:40px;line-height:40px;text-align:center;color:#fff;margin:20px 10px;font-weight:bold;font-size:18px}
.order_info .info_num{margin-top:15px;line-height:24px;width:495px;float:left}
.order_info .state{float:left;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;margin-top:4px;padding:12px 5px 0 5px;width:112px;text-align:center}
.order_info .state span{line-height:96px}
.order_info .no_bor{border:none;margin-top:14px}
.order_info .no_bor button{margin:0 auto;display:block;background:#ce0c0c;width:80px;height:30px;color:#fff;text-align:center;border:1px solid #CE0C0C;cursor:pointer}
.order_info .no_bor .cancel_state{background-color:#d9d9d9;width:80px;height:30px;border:1px solid #A7A7A7;color:#4F4F4F}
.order_info .sty_num{margin-right:60px}
.order_info  em{color:#e60012;}
.info_num .no{position:absolute;right:125px;top:37px}
.info_num .confirm{right:20px;color:#266dbe}
.finish{border:none}
.look_finish{margin:10px 0 15px 0;display:block}
.look_finish a{color:#266dbe}
#detail b{display:inline-block;margin-left:10px;width:16px;height:11px;background-image:url(../images/mm.png)}
#detail b.plus{background-position:0 12px}
#detail b.minus{background-position:0 0;}
.new_btn1{display:inline-block;background-color:#ce0c0c;color:#fff;cursor:pointer;width:126px;height:40px;border:1px solid #ce0c0c;font-size:14px;margin-bottom:17px;text-align:center;line-height:38px}
.new_btn1 a{color:#fff;}
.re_bg{background:#efefef;border-top:1px solid #dddddd;border-left:1px solid #dddddd;border-right:1px solid #dddddd;}
.hid_bg{border:1px solid #dddddd;background:#efefef}
.gray_bg{border-bottom:1px solid #dddddd;}
.bor_gray{border-left:1px solid #dddddd;border-right:1px solid #dddddd;}
.no_order{width:803px;border:1px solid #ffdcb7;margin-bottom:10px;height:50px;text-align:center;line-height:50px;font-weight:bold;color:rgb(186, 186, 186)}
.no_order_gray{border:1px solid #dddddd}

/*page*/
a{text-decoration:none}
.pageNav a,.pageNav strong,.pageNav span{display:inline-block;overflow:hidden;padding:3px 7px;padding:2px 7px 4px\9;margin:7px 3px 0;line-height:1.231;border:1px solid #dddddd;background:#fff;vertical-align:middle;color:#4f4f4f}
.pageNav a:hover{text-decoration:none;color:#fff;border-color:#3090BC;background:#73B2DA}
.pageNav a.pageBtn{padding:4px 7px 4px;padding:3px 7px\9;_padding:4px 7px 4px;;color:#474747}
.pageNav strong{color:#fff;background:#ce0c0c;border:1px solid #ce0c0c}
.pageNav span{padding:0;margin:0;background:none;border:0}
.pageNav{text-align: center;margin:20px;}
/*index*/
.no_warn{font-size:18px;color:#bababa;margin:70px 195px;float:left}
.ak47{display:inline-block;width:80px}