*{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman",Georgia,Serif;
}
ul li{
	list-style:none;
}
.header{
	height:50px;
	width:100%;
	background:#3B3B3B;
	line-height:50px;
}
.header a{
	color:#FFFAFA;
	text-decoration:none;

}
.header ul li{
	float:left;
	margin-left:20px;
	color:#fff;
}
.userpic img{
	height:130px;
	width:150px;
}
.userpic{
	width:300px;
	height:300px;
	text-align:center;
	float:left;
}
.person_details{
	width:300px;
	height:300px;
	float:left;
}
.person_details p{
	text-align:center;
	color:red;
	font-size:23px;
}
.display{
	width:800px;
	height:600px;
	float:left;
	margin-top:50px;
}
.left{
	width:350px;
	height:600px;
	margin:50px;
	float:left;
}
.menu{
	height:30px;
	margin:20px auto;
	width:90%;
}
.menu a{
	color:#FFFAFA;
	text-decoration:none;
}
.user{
	color:#fff;
	font-size:15px;
}
.loginCenter{
	background:#3B3B3B;
	height:216px;
	width:140px;
	position: absolute;
	top: 40px;
	right:8px;
}
.loginCenter li{
	width:100%;
	float:left;
}
.menus li{
	width:100%;
	color:#fff;
}
input{
	outline:none;
}
.footer{
	text-align:center;
	width: 100%;
    height:40px;  
    float: left;
    line-height:40px;
    border-top: 10px solid #515151;
}
.footer a{
	color:#000;
	font-size:14px;
	text-decoration:none;
}
