.login {
	margin: 110px;
	width: 400px;
	height: 500px;
	border-radius: 12px;
	background: #fff;
	text-align:center;
	float:right;
}

.login h1 {
	font-size: 44px;
	font-weight: 700;
	text-align: center;
	margin: 30px 10px 50px 0px;
	padding-top: 30px;
	color: dodgerblue;
}

.login input {
	width: 270px;
	height:40px;
	margin: 10px auto;
	border-radius:5px;
	padding-left:10px;
}

.login img {
	margin-top: 14px;
}

#codeInput {
	width: 120px;
	margin-left:66px;
}

.sucBtn {
	height:50px;
	width:60%;
	border-radius:12px;
	background:#96CDCD;
}

.codeBox{
	height:80px;
	width:83%;
	float:left;
}
.codeInput{
	float:left;
}

.code{
	float:right;
}
.code img{
	height:33px;
	width:60px;
}