.p_content{
	min-height:500px;
	width:90%;
	margin:30px auto;
}
.comments{
	margin:10px auto;
}
.comments li{
	border-top:1px solid #f8f8f8;
	margin-top: 33px;
    float: left;
	width:96%;
}
.comments li span{
	float:right;
	color:#9F797C;
}
.delBtn{
	text-decoration: none;
    float: right;
    border: 1px solid #f9f9f9;
    border-radius: 3px;
    height: 30px;
    width: 100px;
    margin-left: 48px;
    color:#fff;
}