.pagination {
	margin-top:10px;
	text-align:center;
    font-size: 80%;
     float: left;
    width: 100%;
}

.pagination a {
    text-decoration: none;
	border: solid 1px #515151;
	color: #515151;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pagination .current {
    background: #515151;
    color: #fff;
	border: solid 1px #335151;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
