.product{
	height:100%;
	width:100%;
}
table{
  border-collapse:collapse;
  text-align:center;
}

table,th, td{
  border: 1px solid black;
}
.pagination {
	margin:60px;
	text-align:center;
    font-size: 80%;
    width:90%;
    float:left;
}     
.pagination a {
    text-decoration: none;
	border: solid 1px #DDD;
	color: #CE0C0C;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pagination .current {
    background: #06438f;
    color: #fff;
	border: solid 1px #DDD;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
.main{
    width:100%;
  	height:100%;
  	padding-bottom:30px;
}
.footer{
	text-align:center;
	width: 100%;
    height:40px;  
    height:50px;
}
.footer a{
	color:#000;
	font-size:14px;
	text-decoration:none;
}