.logo{
	font-size:27px;
	line-height: 100px;
    margin-left: 21px;
}
.head{
	height:55px;
	width:100%;
	background:#6A5ACD	;
	color:#fff;
	line-height:55px;
}
.header ul{
	float: right;
	height:60px;
	margin-right:30px;
}
.header ul li{
	width:80px;
	border:none;
	color:#06438f;
}
.left{
	float: left;
    border: 1px solid red;
    width: 270px;
    text-align: center;
}
.right{
	float:left;
}
.cont-inner{
	border:1px solid red;
}
.data_display{
	background:#F0FFFF;
	height:200px;
	width:100%;
	text-align:center;
}
.data_display p{
	margin-top:10px;
	font-size:23px;
}
.upload_order{
	height:100px;
	width:100%;
	border:1px solid #CD6839;
}
.upload_order p{
	font-size: 33px;
    text-align: center;
    line-height: 94px;
}
.right_box{
	height:800px;
	width:1000px;
	border:1px solid blue;
	float:left;
	background:#C4C4C4;
}
.searchContainer {
	width: 100%;
	background-color: #F2F2F2;
	font-size: 16px;
}

.searchTitle {
	text-align: center;
	margin-bottom: 23px;
	font-weight: 600;
}

.searchInput {
	margin-bottom: 23px;
}

.searchInput input {
	width: 100%;
	line-height: 22px;
	font-size: 12px;
}

.searchBtn,.exportDeskNo {
	background-color: #F40408;
	width: 70px;
	line-height: 30px;
	text-align: center;
	color: white;
	font-size: 16px;
	margin: 0px auto;
	cursor:pointer
}
.ac_headInfo {
	padding: 15px;
    border: 1px solid #DADADA;
    text-align: center;
    width: 209px;
    margin-top: 15px;
}
.ac_headInfo div{
	font-size: 26px;
}
.conveyOrderstatistics {
	width: 100%;
	background-color: #F2F2F2;
	margin-top: 10px;
	font-weight: 600;
	height:160px;
	font-size: 16px;
}

.num {
	margin-bottom: 16px;
}
table,th,td {
    border: 2px solid #FFFFFF;
    text-align:center;
}

td{
	vertical-align:middle;
 	white-space:normal;
 	word-break:break-all;
	line-height:42px;
}

th{
 	background-color:#F2F2F2;
 	width: 100px;
}
.oddClass{
	background:#FFFFFF;
}

.main{
	min-height:500px;
	position:relative;
	margin:20px auto;
	width:90%;
	overflow:hidden;
}
#leftMenu{
	border-right:1px solid #e7e7e7;
	width:130px;
}
.footer{
    position:relative;
    width: 100%;
    height: 60px;
    bottom: 0px;
}
.rightBody{
	width: 88%;
    float: left;
    margin-left:20px;
}

.ac_menu {
    background: white;
    width: 100%;
}
.ac_menu li {
    padding: 15px 0;
    text-align: center;
    height: 27px;
    line-height: 30px;
    border-bottom:1px solid #f7f7f7;
    float:right;
    clear: both;
    width: 120px;
}
.ac_article {
    width: 60%;
    float: left;
    border-top: 0px;
}
.on {
    border-left: 10px solid #06438f;
    background:#e3E3e3;
}


