.main{
	min-height:550px;
	width:98%;
	margin:10px auto;
}
#name{
	text-align:center;
	font-size:20px;
}
.workInfo{
	min-height:100px;
	width:90%;
	clear:both;
	margin:20px auto;
}
.workInfo p{
	text-indent:20px;
}
.products{
	clear:both;
	min-height:330px;
}
.products ul li{
    height: 250px;
    width: 250px;
    float: left;
    margin-left: 5%;
}
.products ul li img{
	height:100%;
	width:100%;
}
#time p{
	margin-right: 200px;
    text-align: right;
    margin-top: 30px;
}