#p_content li a{
	text-decoration:none;
	float:left;
	width:83%;
	color:#428bca;
}
#p_content li{
	border-top:1px solid #969696;
	float:left;
	width:100%;
	margin-top:10px;
	height: 60px;
    padding-top: 12px;
}
#p_content li p{
	float:left;
	margin-right:20px;
}



